@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');
body{
    background-color: #f8f9fa;
}
.div-conteiner{
    margin: 30px;
}
header{
    box-sizing: border-box;
    text-align: center;
}
img{
    width: 62;
    height: 47px;
}
p{
    font-family: 'Work Sans', sans-serif;
}
main{
    max-width: 70%;
}
input:not(.first-and-lastname){
    display: flex;
    flex-wrap: wrap;
}
.first-and-lastname {
    display: flex;
    justify-content: space-between;
}
span{
    color: gray;
}
.dog-span{
    display: flex;
    
}
.dog{
    background-color: rgb(221, 218, 218);
    border: 1px solid rgb(177, 175, 175) ;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    border-right: 0;
}
.select{
    display: flex;
    flex-wrap: wrap;
}
.country{
    display: flex;
    flex-wrap: nowrap;
}